
:root{
    --purple-background: #540B51;
    --ivory-background:#F3EAE2;
    --blue-button: #4285F4;
    --blue-links: #2E71A6;
    --black-title: #191817;
    --black-paragraph: #000000;
    --yellow-paragrapg: #ECB12F;
    --footer-links-grey: #454245;

/* background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245 */
}

